.main-container {
    background-color: rgba(2, 6, 19, 1);
    height: 100vh;
    font-family: "Poppins", sans-serif;
   
}
.container-xxl{
    background-image: url(./../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 90px;
}

.nav .nav-link {
    color: white;
}

.nav .nav-link:hover {
    color: rgba(255, 126, 0, 1);
}

.logo {
    font-family: "Noto Serif Georgian", serif;
}

.dropdown a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.hero-section h2 {
    padding-top: 70px;
}

.hero-section .btn {
    background-color: rgba(255, 255, 255, 0.05);
}

.image {
    position: relative;
}

.image .text {
    position: absolute;
    width: 100%;
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    bottom: 0;
}

.bg-theme {
    background-color: rgba(255, 126, 0, 1);
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
.content {
    display: flex;
    position: relative;
}
.content .content-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.content-details {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    height: 0;
    opacity: 0;
    transition: .3s;
    padding: 10px;
}
.content-details > div{
    position: relative;
    z-index: 2;
}
.content-details:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 1;
    background-color: #000000cb;
}
.content:hover .content-details {
    height: 300px;
    opacity: 1;
    top: -50px;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.content-details p {
    color: #fff;
    font-size: 0.8em;
}
.fadeIn-bottom {
    top: 80%;
}